extends layout

block content
  div.landing
    
    div.hero
      
      div.nav.nav-custom
        a.brand(href="/#")
          | Internect
        ul.nav-list
          li.nav-list-item
            a.nav-link(href="/#info")
              | About
          li.nav-list-item
            a.nav-link(href="/#faq")
              | FAQ
          li.nav-list-item
            a.nav-link(href="/#join")
              | Join
              
      div.feature
        h1.lead High School Internships Made Easy
        p.subtext Because Internships Aren't Just For College Kids
        div#form-container
          form.form-inline.join-form(action='/register' method='post')
            div.form-group
              label.sr-only(for="email-input") Your Email
              div.input-group
                input.form-control.email-input(type="text" id="email-input" placeholder="Your Email" name="email")
                div.input-group-addon
                  | @trinityschoolnyc.org
            button.btn.btn-success.join-submit(type="submit") Join Us!
        
    div#info
      p.how-it-works
        | How It Works:
      div.row
        div.col-lg-4
          h2
            | Easy
          p
            | lorem ipuasd jaskdlfj adklsjf asdf kasdf ;asd kl
        div.col-lg-4
          h2
            | Easy
          p
            | lorem ipuasd jaskdlfj adklsjf asdf kasdf ;asd kl
        div.col-lg-4
          h2
            | Easy
          p
            | lorem ipuasd jaskdlfj adklsjf asdf kasdf ;asd kl

    div.footer
      p.footer-label
        | Copyright Internect. 2015.

