body {
  font-family: Avenir, Montserrat;
  margin-left: 0;
  margin-right: 0;
}
a {
  color: #00b7ff;
}
.container {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.hero {
  background-image: url("https://s3.amazonaws.com/StartupStockPhotos/20140808_StartupStockPhotos/69.jpg");
  background-size: 100%;
  width: 100%;
}
.nav-custom {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 20px;
  background-color: #000;
}
.nav-list {
  list-style-type: none;
  display: block;
  float: right;
  color: #fff;
}
.nav-list-item {
  font-family: 'Lato', Geometria, cursive, Amble, Quicksand, "Sofia Pro", cursive, Texta, "Museo Slab", cursive;
  display: inline-block;
  margin-left: 30px;
  color: #fff;
  font-weight: 300;
}
.brand {
  color: #fff;
  text-decoration: none;
  font-size: 1.7em;
}
.nav-link {
  text-decoration: none;
  font-size: 1.4em;
  color: #fff;
}
a.nav-link:hover {
  text-decoration: none;
}
.feature {
  text-align: center;
  width: 100%;
  height: 600px;
  background-color: rgba(255,255,255,0.3);
}
.feature-logo-img {
  width: 400px;
  height: auto;
  margin-top: 100px;
  padding: 40px;
  background-color: rgba(255,255,255,0);
  border-style: solid;
  border-width: 0px;
  border-color: BRAND_GREEN;
}
.hero-img {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  max-height: 600px;
  z-index: -5;
  overflow: hidden;
}
.logo-img {
  background-color: #000;
  height: 40px;
  width: auto;
  padding-bottom: 14px;
}
h1.lead {
  width: auto;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 70px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 3.7em;
  background-color: rgba(72,61,139,0.5);
}
p.subtext {
  width: auto;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  background-color: rgba(0,0,0,0.5);
}
#form-container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;
}
.feature .form-container #centered-formz {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}
.join-form {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  text-align: center;
}
.email-input {
  width: 50px;
  text-align: right;
}
.join-submit {
  margin-left: 15px;
}
#info,
p.info-header {
  font-size: 1.6em;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}
p.info-detail {
  font-size: 1em;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}
p.info-step {
  font-size: 0.9em;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
}
.partners {
  height: 800px;
  margin-top: 30px;
  padding-top: 20px;
  background-color: #f0f0f0;
}
p.partners-header {
  font-size: 2.8em;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}
.partners-row {
  margin-left: 100px;
  margin-right: 100px;
}
.footer {
  height: 50px;
  margin-top: 50px;
  background-color: #000;
  color: #808080;
}
p.footer-label {
  width: 50%;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3em;
  text-align: center;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
/*h1.lead Talent & Connections. Together.
        //p.subtext Because Internships Aren't Just For College Kids
        div#form-container
          form.form-inline.join-form(action='/register' method='post')
            div.form-group
              label.sr-only(for="email-input") Your Email
              div.input-group
                input.form-control.email-input(type="text" id="email-input" placeholder="Your Email" name="email")
                div.input-group-addon
                  | @trinityschoolnyc.org
            button.btn.btn-success.join-submit(type="submit") Join Us!*/
}
