body
  font-family: Raleway, "Droid Serif", "Open Sans", Avenir, Montserrat
  margin-left: 0
  margin-right: 0
a
  color: #00B7FF
  
.container
  width: 100%
  margin-left: 0px
  margin-right: 0px
  padding-left: 0px
  padding-right: 0px
  
.hero
  background-image: url("/images/test1.jpg")
  width: 100%
  
.nav-custom
  max-width: 800px
  margin-left: auto
  margin-right: auto
  padding-top: 20px
  
.nav-list
  list-style-type: none
  display: block
  float: right
  
.nav-list-item
  display: inline-block
  margin-left: 30px
  font-weight: bold

.brand
  color: orange
  text-decoration: none
  font-size: 1.2em
  
.nav-link
  text-decoration: none
  font-size: 1.2em
  
.feature
  
  width: 100%
  height: 550px;
  
.hero-img
  margin-left: 0px
  margin-right: 0px
  width: 100%
  max-height: 600px
  z-index: -5
  overflow: hidden
  
h1.lead
  width: auto
  margin-left: 200px
  margin-right: 200px
  margin-top: 70px
  text-align: center
  color: white
  font-weight: bold
  font-size: 3.7em
  background-color: rgba(0, 0, 0, 0.5)

p.subtext  
  width: auto
  margin-left: 300px
  margin-right: 300px
  margin-top: 50px
  text-align: center
  color: white
  font-size: 1.5em
  background-color: rgba(0, 0, 0, 0.5)
  
#form-container
  width: 600 px
  margin-left: auto
  margin-right: auto
  margin-top: 10px
  text-align: center

.feature .form-container #centered-formz
  width: 50%
  margin-left: auto
  margin-right: auto
  display: block
  text-align: center
  
.join-form
  width: 500px
  margin-left: auto
  margin-right: auto
  margin-top: 70px
  text-align: center
  
.email-input
  width: 50px
  text-align: right
  
.join-submit
  margin-left: 15px
  
#info

p.how-it-works
  font-size: 1.5 em
  margin-top: 20px
  margin-left: auto
  margin-right: auto
  text-align: center
  width: 100%

.footer
  height: 50px
  margin-top: 50px
  background-color: black
  color: gray

p.footer-label
  width: 50%
  padding-top: 10px
  margin-left: auto
  margin-right: auto
  font-size: 1.3em
  text-align: center
  
  
  